<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/prediction">Prediction</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/about">About</a>
</nav>

<div class="hero">
    <h1>About the Project</h1>

    <p>
        This project predicts whether an e-commerce customer is likely to churn
        using Machine Learning techniques.
    </p>

    <p>
        Technologies Used: Python, Flask, HTML, CSS, Scikit-Learn, Pandas.
    </p>

    <p>
        Developed as part of the Innolift Ventures Internship Program.
    </p>
</div>

</body>
</html>