<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce Customer Churn Prediction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/prediction">Prediction</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/about">About</a>
    </nav>
<section class="hero">
    <h1>E-Commerce Customer Churn Prediction System</h1>

    <p>
        Predict customer churn using Machine Learning and help businesses
        improve customer retention strategies.
    </p>

    <a href="/prediction">
        <button>Start Prediction</button>
    </a>
</section>
<footer>
    <p>© 2026 E-Commerce Customer Churn Prediction System</p>
</footer>
</body>
</html>
