
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="forgot-wrapper">

    <div class="forgot-card">

        <h1>Forgot Password</h1>

        <p>
            Enter your registered email address.
        </p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">

    <label>Email Address</label>

    <input
        type="email"
        name="email"
        placeholder="Enter your registered email"
        required
    >

    <button type="submit">
        Send OTP
    </button>

</form>

        <a href="/">Back to Login</a>

    </div>

</div>

</body>
</html>