<!DOCTYPE html>
<html>
<head>
    <title>Departments</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="logo">Student Portal</div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/students">Students</a>
        <a href="/about">About</a>
    </div>
</nav>

<div class="about-box">

    <h1>Departments</h1>

    <p><strong>CSE</strong> - Computer Science Engineering</p>
    <p><strong>ECE</strong> - Electronics & Communication Engineering</p>
    <p><strong>EEE</strong> - Electrical & Electronics Engineering</p>
    <p><strong>Mechanical</strong> - Mechanical Engineering</p>
    <p><strong>Civil</strong> - Civil Engineering</p>

</div>

<footer>
    © 2026 Student Registration Portal
</footer>

</body>
</html>